
body{
  width: auto;
  height: 2700px;
  background-image: url(http://i.imgur.com/5FCLO3O.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;

}


.navbar{
  background-image: url(http://i.imgur.com/fDREN3e.png);
  background-position: center;
  width: 1050px;
  height: 200px;
  margin-left: 400px;
}

.rettangoli{
  background-image: url(http://i.imgur.com/WfvYkRF.png);
  width: 50%;
  height: 47%;
  margin-left: 450px;
  margin-top: 5%;
}

.footer{
  background-image: url(http://i.imgur.com/SM7tshn.png);
  background-position: center;
  width: 1050px;
  height: 200px;
  margin-left: 400px;
  margin-top: 50%;

}
